<!DOCTYPE html>
<html lang="en">
   <head>
   
       <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZW83CFM4WJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZW83CFM4WJ');
    </script>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
     <meta name="description" content="Red Team is a three star restaurant in Bangladesh. It has also a premium food delivery service with the mission of bringing affordable and healthy meals to as many people as possible.">
     
      <link rel="stylesheet" type="text/css" href="static/vendors/css/normalize.css">
      
      <link rel="stylesheet" type="text/css" href="static/vendors/css/grid.css">
      <link rel="stylesheet" type="text/css" href="static/vendors/css/ionicons.min.css">
      <link rel="stylesheet" type="text/css" href="static/vendors/css/animate.css">
      
       <link rel="stylesheet" type="text/css" href="static/css/style.css">
       <link rel="stylesheet" type="text/css" href="static/css/queries.css">
       <link rel="preconnect" href="https://fonts.gstatic.com">
       <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type="text/css">
       <title>Red Team</title>
       
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
        
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
        <link rel="manifest" href="/static/favicons/site.webmanifest">
        
        <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#f5c0c0">
        
        <link rel="shortcut icon" href="/static/favicons/favicon.ico">
        
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
       
       
   </head>
    
    <body>
       <header class="profile">
          <nav>
              <div class="section-features">
                  <a href="/"><img src="static/images/logo-white.png" alt="Red Team logo" class="logo"></a>
                  <img src="static/images/logo.png" alt="Red Team logo" class="logo-black">
                  <ul class="main-nav js--main-nav"> 
                    {% if session['user_id'] %}
                    <li><a href="/orders">My Orders</a></li>
                    <li><a href="/logout">Log Out</a></li>
                    <li></li>
                    {% else %}
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    {% endif %}

                    <li class="cart-icon">
                        <a href="javascript:void(0)" id="cart"><i class="ion-ios-cart"></i> Cart <span id="cart-count">0</span></a>
                        <div class="cart-dropdown">
                            <ul id="cart-items-list">
                                <!-- Cart items will be added here dynamically -->
                            </ul>
                            <a href="javascript:void(0)" class="btn" id="trigger-checkout">Checkout</a>
                        </div>
                    </li>

                
                  </ul>
                  <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
              </div>
          </nav>
          <input type="hidden" id="user-id" value="{{ user_name }}">
       </header>
          
          <section class="section-features js--section-features" id="features">
              <div class="row">

                <h2>Welcome, {{ user_name }}!</h2>
                <p style="text-align: center">Ready to order your next meal? Get started below!</p>
              </div>
              
          </section>
          
          <section class="section-meals">
            
              <ul class="meals-showcase clearfix">
                {% for item in menu_items %}
                    <li>

                        {% if item.ImageURL %}
                        <figure class="meal-photo">
                            <img src="{{ item.ImageURL }}"  alt="{{ item.Name }}" >
                        </figure>
                        {% endif %}

                        <h3>{{ item.Name }}</h3>
                        <p>${{ item.Price }}</p>
                        <button class="add-to-cart-btn" data-name="{{ item.Name }}" data-price="{{ item.Price }}">Add to Cart</button>
                    </li>

                {% endfor %}   
              </ul>
            
              <!---
              <ul class="meals-showcase clearfix">
                  <li>
                      <figure class="meal-photo">
                          <img src="static/images/Mixed%20Grill%20Platter.jpg"  alt="Mixed Grill Platter" >
                      </figure>
                  </li>
                  <li>
                      <figure class="meal-photo">
                          <img src="static/images/Grilled%20Lobster.jpg"  alt="Grilled Lobster" >
                      </figure>
                  </li>
                  <li>
                      <figure class="meal-photo">
                          <img src="static/images/Beef%20Sirloin%20Steak.jpg"  alt="Beef Sirloin Steak" >
                      </figure>
                  </li>
                  <li>
                      <figure class="meal-photo">
                          <img src="static/images/Fish%20FIllet%20Steak.jpg"  alt="Fish FIllet Steak" >
                      </figure>
                  </li>
              </ul>
              -->

          </section>
          
       
        <footer>
            <div class="row">
                <p>
                    Copyright &copy; 2024 by RedTeam. All rights reserved.
                </p>
            </div>
        </footer>
        
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/vendors/js/jquery.waypoints.min.js"></script>
    <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.jsdelivr.net/selectivizr/1.0.3b/selectivizr.min.js"></script>
    <script src="static/js/script.js"></script>
    
    <script>

        $(document).ready(function() {
            var userId = $('#user-id').val(); // Get the logged in user's ID
            var cartKey = 'cart-' + userId; // Create a unique cart key for the user

            $('.add-to-cart-btn').click(function() {
                var itemName = $(this).attr('data-name');
                var itemPrice = $(this).attr('data-price');
                var cart = JSON.parse(localStorage.getItem(cartKey)) || [];
                var existingItem = cart.find(item => item.name === itemName);

                if (existingItem) {
                    existingItem.quantity++;
                } else {
                    var cartItem = { name: itemName, price: itemPrice, quantity: 1 };
                    cart.push(cartItem);
                }

                localStorage.setItem(cartKey, JSON.stringify(cart));
                updateCartCount();
                displayCartItems();

                // Send the updated cart to the server
                $.ajax({
                    url: '/checkout',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ userId: userId, cart: cart }),
                    success: function(response) {
                        console.log('Cart updated on server:', response);
                    },
                    error: function(error) {
                        console.error('Error updating cart on server:', error);
                    }
                });
            });


            $('#cart-items-list').on('click', '.remove-item', function() {
                var itemIndex = $(this).data('index');
                var cart = JSON.parse(localStorage.getItem(cartKey));
                cart.splice(itemIndex, 1);
                localStorage.setItem(cartKey, JSON.stringify(cart));
                updateCartCount();
                displayCartItems();
            });

            $('#trigger-checkout').click(function(event) {
                event.preventDefault(); // Prevent the default action

                var cart = JSON.parse(localStorage.getItem(cartKey)) || [];

                // Make sure the cart isn't empty
                if (cart.length === 0) {
                    alert("Your cart is empty.");
                    return;
                }

                // Proceed with the POST request to /checkout
                $.ajax({
                    url: '/checkout',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ userId: userId, cart: cart }),
                    success: function(response) {
                        console.log('Checkout successful:', response);
                        // alert("Checkout successful!");
                        // Redirect to the display_checkout page to show the cart items on checkout.html
                        window.location.href = '/display_checkout';

                        // Here you might want to clear the cart and redirect the user
                        localStorage.removeItem(cartKey);
                        updateCartCount(); // Assuming this function updates the cart count displayed on the page
                        
                        // Optionally, redirect to a confirmation page or update the UI to reflect a successful checkout
                        // window.location.href = '/confirmation-page';
                    },
                    error: function(error) {
                        console.error('Checkout error:', error);
                        alert("Checkout failed. Please try again.");
                    }
                });
            });

            function updateCartCount() {
                var cart = JSON.parse(localStorage.getItem(cartKey)) || [];
                $('#cart-count').text(cart.length);
            }

            function addToCart(item) {
                let cart = JSON.parse(localStorage.getItem('cartItems')) || [];
                cart.push(item);
                localStorage.setItem('cartItems', JSON.stringify(cart));
            }

            updateCartCount();
            displayCartItems();
        });


    </script>        
        
        
    </body>
    
    </html>