<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags and links omitted for brevity -->
    <script>
      // Include your Google Analytics script here
    </script>
    <title>RainyRoof</title>
</head>
<body>
    <form action="https://b07615a8nb.execute-api.us-east-1.amazonaws.com/dev/RedTeamUserRegistrationFunction" method="post" id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
